*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:rgb(246, 248, 249);
}

header .top{
  width: 100%;
  background-color: white;
}

header .top img{
  background-color: white;
  width: 70px;
  height: 70px;
}

.container{
  width: 70%;
  background-color: white;
}

