*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:rgb(246, 248, 249);
  font-family: Arial, Helvetica, sans-serif;
}


/* Header */
header{
  background-color: white;
  margin-bottom: 50px;
  padding: 10px 20px;
}

.logo{
  vertical-align: middle;
}

.text{
  vertical-align: middle;
  font-size: 30px;
  font-weight: 900;
}


/* Main-Top */
main{
  margin: 0 auto;
  width: 70%;
}

.container{
  padding: 10px 40px;
  margin-bottom: 2px;
  border-radius: 5px;
  background-color: white
}

.button{
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.full{
  background-color: #47ADF1;
  color: white;
  border: 1px solid #47ADF1;
  ;
}

.empty{
  background-color: white;
  color: lightgray;
  border: 1px solid #C5CBD0;
}

/* Main-List */
.tasks{
  background-color: white;
  padding: 10px 40px;
  border-radius: 5px;
}

ul{
  list-style: none;;
}

.tasks h3::before{
  content: "\25BE";
} 

.tasks li{
  padding: 10px 0;
}

.cricle::before{
  display: inline-block;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  font-size: 10px;
 
}

.circle.check::before{
  content: "\2713";
  color: green;
  border: 1px solid green;
  border-radius: 50%;
  margin: 5px;
}

.circle.not::before{
  content: "\2718";
  color: red;
  border: 1px solid red;
  border-radius: 50%;
  margin: 5px;
}

.tag{
  color: white;
  margin: 3px;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 10px;
}

.editor{
  background-color: rgb(60, 167, 233);
}

.q1{
  background-color: rgb(156, 114, 228);
}

.rec{
  background-color: rgb(100, 192, 169);
}

.mob{
  background-color: rgb(242, 158, 51);
}

.web{
  background-color: rgb(216, 99, 161); 
}

.sal{
  background-color: rgb(176, 201, 38);
}