*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:rgb(246, 248, 249);
}

header .top{
  width: 100%;
  background-color: white;
  margin-bottom: 50px;
}

.top img{
  vertical-align: middle;
  width: 70px;
  height: 70px;
}

.container{
  text-align: center;
  width: 1000px;
  background-color: white;
}

.buttons{
  margin-bottom: 2px;
  border-radius: 3px;
}

.button-task{
  background-color: rgb(71, 173, 241);
  border-radius: 3px;
}